/* GLOBAL */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
}

h1 {
  font-size: 77px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 25px;
}

h4,
h5 {
  font-size: 20px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* UTILITY */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.position-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.col-9-3 {
  width: calc(100% / 9 * 3);
  height: 100%;
}

.col-9-5 {
  width: calc(100% / 9 * 5);
}

.col-9-6 {
  width: calc(100% / 9 * 6);
}

.col-9-4 {
  width: calc(100% / 9 * 4);
}

.col-9-2 {
  width: calc(100% / 9 * 2);
}

/* HEADER MENU NAV*/

.fixed-nav {
  width: 100%;
  position: fixed;
  margin: 0 auto;
  background-color: white;
  z-index: 9999;
}

.logo-header {
  width: 126px;
  height: 50px;
  background: url("../img/logo-small.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  margin-left: 20px;
}

.ul a {
  color: black;
  width: 100%;
  display: inline-block;
  line-height: 50px;
  padding: 10px 12px;
  margin-top: -10px;
}

.nav-left-block,
.nav-right-block {
  width: 50%;
  height: 50px;
  position: relative;
}

.nav-right {
  position: absolute;
  right: 0;
}

.nav-right,
.nav-left {
  height: 100%;
  display: inline-flex;
  vertical-align: middle;
}

.ul li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  margin: 0 20px;
}

.nav-button {
  position: relative;
  width: 126px;
  height: 50px;
}

.nav-button .button-blu a {
  color: white;
}

/* HEADER TEXT AND IMG */
.container-header {
  margin: 0 auto;
  width: 100%;
}

.container-main-header {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.container-main-header {
  width: 91.6%;
  margin-bottom: 30px;
  padding-top: 70px;
}

.header-block {
  width: 100%;
  position: relative;
  padding-top: 40px;
  top: 40px;
}

.description-header-low {
  width: 25%;
}

.button-blu {
  background-color: #0061ff;
  border-color: #0061ff;
  padding: 5px 8px;
}

.button-white {
  border: 1px solid grey;
  background: white;
  padding: 5px 8px;
}

.button-white a {
  color: black;
}

.margin-30 {
  margin: 30px;
}

.description-header-low button a {
  color: white;
  padding: 5px 8px;
}

.immagine-header {
  position: relative;
  width: 66.6%;
  height: 400px;
  align-items: right;
}

.immagine-header-low {
  width: 100%;
  height: 100%;
  padding: 20px;
  background: url("../img/jumbo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: visible;
  position: absolute;
  right: -50px;
  top: 0;
}

/* ARROW ANIMATION */


.fa-arrow-down{
    color: rgba(88, 88, 88, 0.9);
    position: relative;
    animation:animateArrow 1s linear infinite ;
}

@keyframes animateArrow{
    from{
        top:0;
    }
    to{
        top:30px;
    }
}


/* CONTAINER COLORS */

.container-celeste {
  background-color: #b4d0e7;
}

.container-black {
  background-color: #000;
}

/* MAIN */

.container-main {
  width: 100%;
  margin: 0 auto;
}

.container-large {
  width: 83.333%;
  max-width: 1080px;
  margin: 0 auto;
  margin-top: 150px;
}

.blocco-colonne {
  width: 100%;
  position: relative;
}

.colonna-1 {
  position: relative;
  margin-right: 40px;
  width: calc(100% / 9 * 3 - 40px);
}

.colonna-3 {
  position: relative;
  margin-left: 40px;
  width: calc(100% / 9 * 3 - 40px);
}

.colonna-2 {
  margin: 0 20px;
  width: calc(100% / 9 * 3 - 40px);
  position: relative;
}

.radio-checks {
  margin-top: 50px;
}

.radio{
    margin-right: 10px;
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.radio:checked {
    border:4px solid #0061ff;
}

.blocco-colonne {
  margin-top: 40px;
  height: 100%;
}

.colonna {
  border: 1px solid grey;
  height: 1000px;
}

.col-head {
  font-weight: bold;
  text-align: center;
  margin: 5px 0;
}

.col-block-1,
.col-block2 {
  padding: 20px 20px;
  line-height: 2;
}

.col-block-1 a {
  color: white;
}

.col-block-1 button {
  margin: 20px 0;
}

.col-block2 ul li {
  padding-left: 1em;
  text-indent: -1em;
}

.col-block2 ul li::before {
  list-style: outside;
  content: "✔ ";
  color: #0061ff;
}

.hr2 {
  width: 30%;
  margin: 20px;
}

/* ENTERPRISE */

.enterprise-block {
  margin-top: 50px;
  height: 300px;
  line-height: 2;
}

.hr {
  width: 100%;
}

.enterprise-block .button-blu a {
  color: white;
}

.enterprise-left,
.enterprise-right {
  padding: 30px 20px;
}

.enterprise-right {
  text-align: center;
}

/* ENTRA IN CONTATTO */

.entra-in-contatto .col-9-5 {
  position: relative;
  height: 520px;
}

.img-entra-in-cotatto {
  background: url("../img/partner.png");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.descrip-entra-in-contatto {
  padding: 20px 30px;
  line-height: 2;
}

.margin-top-50 {
  margin-top: 50px;
}
.margin-t-b-150 {
  margin: 150px 0;
}

/* OPERAZIONI */

.operazioni-container-img {
  width: 315px;
  height: 200px;
}

.operazioni-small-container {
  padding: 20px 30px;
  display: inline-block;
}

.colonna-operazioni {
  display: inline-block;
}

.operazioni-block {
  margin-right: -30px;
  margin-left: -30px;
  margin-bottom: 100px;
}

.img-1 {
  background: url("../img/business-feature-coordinate-it.png");
}
.img-2 {
  background: url("../img/business-feature-integrations-it.png");
}
.img-3 {
  background: url("../img/business-feature-multi-device.png");
}
.img-4 {
  background: url("../img/business-feature-security.png");
}
.img-5 {
  background: url("../img/business-feature-send-files-it.png");
}
.img-6 {
  background: url("../img/business-feature-switching-tools.png");
}

.operazioni-img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.margin-top-30 {
  margin-top: 30px;
}

.operzioni-footer-header {
  line-height: 2;
  margin-bottom: 100px;
  width: 60%;
}

.container-multicolor {
  width: 100%;
  height: 30vw;
}

.square {
  width: 50%;
  height: 50%;
  position: relative;
}

.square-green {
  background-color: #a2d39b;
}

.squares-2,
.squares-1,
.squares-3 {
  width: 100%;
  height: 100%;
}

.square-bordeaux {
  background-color: #61082b;
}

.square-skyeblue {
  background-color: #0093ce;
}

.square-acidred {
  background-color: #ff1c1c;
}

.square-grey {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
}

.square-red {
  background-color: #d5001f;
}

.square-celeste {
  background-color: #b4d0e7;
}

.square-blue {
  background-color: #0d2481;
}

.square-yellow {
  background-color: #ffd830;
}

.square-img-1 {
  background: url("../img/designit.svg");
}
.square-img-2 {
  background: url("../img/arizona_state_university.svg");
}
.square-img-3 {
  background: url("../img/university_of_florida.svg");
}
.square-img-4 {
  background: url("../img/topps.svg");
}
.square-img-5 {
  background: url("../img/world_bicycle_relief.svg");
  filter: invert(1);
}
.square-img-6 {
  background: url("../img/hearst_corp.svg");
}
.square-img-7 {
  background: url("../img/lonely_planet.svg");
}
.square-img {
  width: 50%;
  height: 50%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.square-img-8 {
  background: url("../img/clear_channel.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 30%;
  height: 30%;
  position: relative;
  left: 25%;
  top: 25%;
  transform: translate(-50%, -50%);
}

.square-grey-descr {
  height: 100%;
  position: relative;
  top: 10%;
  padding: 10px 20px;
  overflow: auto;
  line-height: 2;
}

.container-multicolor-low {
  height: 20vw;
  width: 100%;
  background: #b4d0e7;
  display: inline-block;
}

.col-50 {
  width: 50%;
  height: 100%;
  position: relative;
}

.container-width {
  position: relative;
  width: 83.333%;
  max-width: 1080px;
  margin: 0 auto;
  height: 100%;
}

.vertical-align {
  position: absolute;
  top: 30%;
}

.align-right {
  right: 0;
}

/* DOMANDE */

.container-domande {
  margin: 120px auto;
}

.container-domande hr,
.container-domande i {
  color: rgba(158, 158, 158, 0.7);
}

.container-domande h3 {
  margin-bottom: 30px;
}

.question-spoiler-block {
  width: 100%;
  margin: 0 auto;
  display: inline-block;
}

.question-spoiler-title {
  display: inline-block;
  padding: 50px 0;
  width: 100%;
}

.question-spoiler-title i {
  position: relative;
  text-align: right;
  right: 0;
  display: inline;
  cursor: pointer;
}

.question-spoiler-input {
  width: 0;
  height: 0;
  appearance: none;
  position: absolute;
}

.question-spoiler-text {
  display: none;
  font-size: 14px;
  padding: 30px 0;
}

.question-spoiler-input:checked ~ .question-spoiler-text {
  display: block;
}

.question-spoiler-input:checked ~ .question-spoiler-title i {
  transform: rotate(180deg);
}

/* FOOTER */

.container-black {
  background: black;
  color: white;
  height: 100%;
  line-height: 3;
}

.lists-container {
  position: relative;
  padding: 100px 20px;
}

.col-20 {
  width: 20%;
}

.footer-low {
  padding-bottom: 100px;
}

.footer-low hr {
  width: 10%;
}

.div-select {
  padding-top: 50px;
}

.footer-low select {
  background: black;
  border: black;
  color: white;
}
