/* GLOBAL */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 77px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 25px;
}

h4,
h5 {
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* UTILITY */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.position-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* HEADER MENU NAV*/

.fixed-nav {
  width: 100%;
 
  
  position: fixed;
  margin: 0 auto;
  background-color: white;
}

.logo-header {
  width: 126px;
  height: 50px;
  background: url("../img/logo-small.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  margin-left:20px;
}

.ul a {
  color: black;
  width: 100%;
  display: inline-block;
  line-height: 50px;
  padding: 10px 12px;
  margin-top: -10px;
}

.nav-left-block,
.nav-right-block {
  width: 50%;
  height: 50px;
  position: relative;
}

.nav-right{
    position: absolute;
    right: 0;
}

.nav-right,
.nav-left {
  height: 100%;
  display: inline-flex;
  vertical-align: middle;
}

.ul li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  margin: 0 20px;
}

.nav-button {
  position: relative;
  width: 126px;
  height: 50px;
}

.nav-button .button-blu a {
  color: white;
}

/* HEADER TEXT AND IMG */
.container-main {
  margin: 0 auto;
  width: 100%;
}

.container-main-header {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.container-main-header {
  width: 91.6%;
  margin-bottom: 30px;
  padding-top: 70px;
}

.header-block {
  width: 100%;
  position: relative;
  padding-top: 40px;
  top: 40px;
}

.description-header-low {
  width: 25%;
}

.button-blu {
  background-color: #0061ff;
  border-color: #0061ff;
  padding: 5px 8px;
}

.margin-30 {
  margin: 30px;
}

.description-header-low button a {
  color: white;
  padding: 5px 8px;
}

.immagine-header {
  position: relative;
  width: 66.6%;
  height: 400px;
  align-items: right;
}

.immagine-header-low {
  width: 100%;
  height: 100%;
  padding: 20px;
  background: url("../img/jumbo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: visible;
  position: absolute;
  right: -50px;
  top: 0;
}

/* CONTAINER COLORS */

.container-celeste {
  background-color: #b4d0e7;
}

.container-black {
  background-color: #000;
}
